.imageWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.imageItem {
  width: calc(100% /3 -16px);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 25px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 25px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -18px rgba(0, 0, 0, 0.75);
  transition: all .3s;
}

.imageItem:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 13px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 12px;
  }
}
